.footer {
  width: 100%;
  bottom: 0;
  padding-top: 100px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
  }

  .footer-copyright {
    font-family: "LatoI", sans-serif;
    color: #393939;
    text-align: center;
  }

  .footer-links {
    flex: 1;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      gap: 1.6rem;
      list-style: none;
      justify-content: center;
    }

    a {
      color: #393939;
      font-family: "LatoI", sans-serif;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        font-size: 18px;
        transition: font-size 0.25s ease-in;
      }
    }
  }

  .footer-social {
    display: flex;
    gap: 1rem;

    .social-icon {
      font-size: 19px;
      margin-left: 41px;
      color: #393939;
    }
  }

  @media (max-width: 768px) {
    * {
      font-size: 10px;
    }
    .footer-links {
      margin-left: 10px;
      ul {
        width: 400px;
        //background-color: pink;

        a {
          font-size: 10px;

          //background-color: blue;
          &:hover {
            font-size: 11px;
            transition: font-size 0.25s ease-in;
            text-decoration: none;
          }
        }
      }
    }
    .footer-social {
      gap: 1rem;

      .social-icon {
        font-size: 19px;
        margin-left: 0px;
        color: #393939;
      }
    }
  }

  @media (max-width: 428px) {
    * {
      font-size: 9px;
    }

    .footer-container {
      flex-wrap: wrap;
      padding: 40px 0;
    }

    .footer-copyright {
      order: 1;
      flex-basis: 50%;
      text-align: left;
    }

    .footer-social {
      order: 2;
      flex-basis: 50%;
      justify-content: flex-end;

      .social-icon {
        font-size: 16px;
        margin-left: 10px;
      }
    }

    .footer-links {
      order: 3;
      flex-basis: 100%;
      margin-top: 20px;

      ul {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
      }

      a {
        font-size: 12px;
        padding: 5px 0;

        &:hover {
          font-size: 13px;
        }
      }
    }
  }
}
