* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  background-color: rgb(235, 192, 255);
  color: white;
  padding: 0.5rem 0;
}
body {
  display: flex;
  align-items: stretch;
  flex-shrink: none;
  flex-direction: column;
  nav,
  footer,
  #app {
    flex-shrink: 0;
  }
  //idk why its making me do this but oh well
}
#app {
  flex-grow: 1;
  overflow-x: hidden;
}

@font-face {
  font-family: cavReg;
  src: url(../assests/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: latoReg;
  src: url(../assests/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: latoI;
  src: url(../assests/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: latoBL;
  src: url(../assests/fonts/Lato-BlackItalic.ttf);
}
